.navbar {
  background-color: var(--theme-dark);
}

.navbar a {
  color: var(--theme-light) !important;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--theme-primary) !important;
  font-family: 'Reggae One', cursive;
}

.navbar a.active {
  color: var(--theme-secondary) !important;
}

.navbar-toggler:hover {
  background-color: var(--theme-secondary);
}

.foot-icons > ul > li > a {
  color: var(--theme-light)
}

.foot-icons > ul > li > a:hover {
  color: var(--theme-primary)
}

.foot-info > ul {
  list-style-type: none;
  color: var(--theme-light)
}
