.carousel-item{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content {
  height: 100vh;
  background-image: linear-gradient(225deg, var(--theme-light) 60%, var(--theme-secondary));
}

.home-landing {
  height: 100vh;
  background-image: linear-gradient(45deg, var(--theme-black), var(--theme-dark));
  overflow: hidden;
}

.home-pill {
  color: var(--theme-dark) !important;
}

.home-pill.active {
  background-color: var(--theme-dark) !important;
  color: var(--theme-secondary) !important;
}

.home-tabs {
  height: 80%;
  padding: 10px;
}

.scroll {
  color: var(--theme-secondary);
  font-size: xx-large;
  animation: updown 2s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-50%);
    color: var(--theme-secondary);
  }

  50% {
    transform: translateY(50%);
    color: var(--theme-primary);
  }

  100% {
    transform: translateY(-50%);
    color: var(--theme-secondary);
  }
}

  @media only screen and (max-width: 767px) {
    .home-landing-img {
      width: 70%;
    }
  }
