:root {
  --theme-black: #0B0C10;
  --theme-dark: #1F2833;
  --theme-light: #C5C6C7;
  --theme-white: #fff;
  --theme-primary: #66FCF1;
  --theme-secondary: #45A29E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.theme-font {
  font-family: 'Reggae One', cursive;
}
